<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.sina.emoji</string>
	<key>group_name_cn</key>
	<string>Emoji</string>
	<key>emoticons</key>
	<array>
		<dict>
			<key>code</key>
			<string>0x1f643</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f913</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f917</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f631</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f47f</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f47b</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f4a9</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f648</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f649</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f64a</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f645</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f64b</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f44f</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f64f</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f384</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x26a1</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f349</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f357</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f48a</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0x1f4a3</string>
			<key>type</key>
			<string>1</string>
		</dict>
	</array>
</dict>
</plist>
